@import "~compass/compass/css3";
@import "~compass/compass/utilities";
@import "~styles/theme";
@import "~styles/mixins/triangle";

.date-picker {
  input {
    border: 1px solid $gray-color;
    background-color: #f9fafc;
    @include border-radius($border-radius-base);
    line-height: 1;
    padding: 6px 12px;
    height: 28px;

    transition-property: border-color, box-shadow;
    transition-duration: .2s;

    &.active {
      border: 1px solid $primary-color;
      box-shadow: 0px 0px 3px rgba(4, 4, 4, 0.25);
    }
  }
}

.date-picker-popover {
  padding: 4px;
  @include border-radius(3px);
  border: 1px solid $gray-color;

  opacity: 0;

  &.active {
    opacity: 1;
  }

  &.place-top {
    &:before {
      @include triangle(bottom, $gray-color, 0.5em);
      position: absolute;
      left: 50%;
      margin-left: -7px;
      top: 100%;
      z-index: 2;
      margin-top: 1px;
    }

    &:after {
      @include triangle(bottom, $white-color, 0.5em);
      position: absolute;
      left: 50%;
      margin-left: -7px;
      top: 100%;
      z-index: 3;
    }
  }

  &.place-bottom {
    &:before {
      @include triangle(top, $gray-color, 0.5em);
      position: absolute;
      left: 50%;
      bottom: 100%;
      z-index: 2;
      margin-bottom: 1px;
      margin-left: -7px;
    }

    &:after {
      @include triangle(top, $white-color, 0.5em);
      position: absolute;
      left: 50%;
      bottom: 100%;
      margin-left: -7px;
      z-index: 3;
    }
  }

  &.slide-down-in {
    animation-name: slide-down-in;
    animation-duration: .2s;
  }

  &.slide-down-out {
    animation-name: slide-down-out;
    animation-duration: .25s;
  }
}